/* stylelint-disable selector-class-pattern */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

:root {
  --bg-body-color: #3c87ff;
  --bg-wrapper-color: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-body-color);
}

.wrapper {
  padding: 0 15px 25px;
}

.container {
  margin: 25px auto 0;
  max-width: 400px;
  background-color: var(--bg-wrapper-color);
  border-radius: 7px;
  padding: 28px 0 10px;
}

.block-input {
  position: relative;
  height: 52px;
  padding: 0 25px;
}

.block-input__icon {
  position: absolute;
  top: 50%;
  transform: translate(17px, -50%);
  color: #777575;
}

.block-input__input {
  height: 100%;
  width: 100%;
  padding: 0 20px 0 53px;
  font-size: 18px;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
}

.block-input__input::placeholder {
  color: #bfbfbf;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

.controls__list {
  display: flex;
}

.controls-item:not(:last-child) {
  margin-right: 17px;
}

.controls-item__text {
  font-size: 17px;
  cursor: pointer;
}

.active {
  color: var(--bg-body-color);
}

.controls__clear-btn {
  padding: 7px 10px;
  outline: none;
  border: 0;
  border-radius: 4px;
  background: var(--bg-body-color);
  color: var(--bg-wrapper-color);
  cursor: pointer;
  font-size: 15px;
}

.task-box-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  font-size: 17px;
}

.task-box-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.task-box {
  margin: 20px 25px;
}

.task-box-item__label {
  display: flex;
  cursor: pointer;
}

.task-box-item__input {
  margin-right: 12px;
  cursor: pointer;
}

.task-box-settings {
  position: relative;
  cursor: pointer;
}

.task-box-menu {
  position: absolute;
  z-index: 2;
  right: -5px;
  bottom: 5px;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
  background: var(--bg-wrapper-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.task-box-settings:hover .task-box-menu {
  transform: scale(1);
}

.task-box-item__icon-goup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.task-box-settings__icon,
.task-box-menu__icon-arrow {
  color: #3f3d3db9;
}

.task-box-menu__icon {
  color: #3f3d3d;
}

.edit__icon,
.delete__icon {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  padding-left: 8px;
  color: black;
}

.task-box-menu__list {
  margin: 5px 0;
  padding: 8px 16px;
  font-size: 16px;
}

.task-box-menu__list:hover {
  background: rgb(242, 247, 250);
}

.true {
  text-decoration: line-through;
}

.hide {
  display: none;
}

.fa {
  text-rendering: optimizelegibility;
}
